.board{
}

.board table{
}

.board table td.node{
    width: 10px;
    height: 10px;
    background-color: black;
}

.board table tr.cellrow td.edge{
    width:10px;
    height:64px;
}

.board table tr.edgerow td.edge{
    width:64px;
    height:10px;
}

.board table td.edge{
    border: 1px solid black;
}

.board.active table td.edge:hover{
    background: black;
}

.board table td.edge.taken{
    background: black;
}



.board table td.cell.taken.player0, .board .player_holders .player0{
    background: green;
}

.board table td.cell.taken.player1, .board .player_holders .player1{
    background: red;
}

.board table td.cell.taken.player2, .board .player_holders .player2{
    background: blue;
}

.board .player_holders .player{
    display:inline-block;
    width:64px;
    height:64px;
    padding: 5px;
    margin:10px;
}
.board .player_holders .player.active{
    border: solid 5px black;
    padding:0px;
}

.board .player_holders .player.current{
    border: solid 5px grey;
    padding:0px;
}
